---
Language: Cpp
LineEnding: LF
MaxEmptyLinesToKeep: 1
TabWidth: 4
UseTab: Never
IndentWidth: 4
ColumnLimit: 120

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveBitFields: AcrossComments
AlignEscapedNewlines: Right
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AttributeMacros: 
  []
BitFieldColonSpacing: Both
BraceWrapping: 
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  BeforeLambdaBody: false
  BeforeWhile: false
BreakBeforeBraces: Custom
BreakInheritanceList: AfterColon
BreakBeforeConceptDeclarations: true
BreakConstructorInitializers: AfterColon
BreakStringLiterals: true
CompactNamespaces: false
Cpp11BracedListStyle: false
EmptyLineBeforeAccessModifier: LogicalBlock
ForEachMacros: 
  []
IncludeBlocks: Regroup
IncludeCategories: 
  - Regex: '^"(llvm|llvm-c|clang|clang-c)/'
    Priority: 2
    SortPriority: 2
    CaseSensitive: true
  - Regex: '^((<|")(gtest|gmock|isl|json)/)'
    Priority: 3
  - Regex: '<[[:alnum:].]+>'
    Priority: 4
  - Regex: '.*'
    Priority: 1
    SortPriority: 0
NamespaceIndentation: None
PointerAlignment: Right
ReferenceAlignment: Left
ReflowComments: true
SortIncludes: false
SortUsingDeclarations: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
BreakTemplateDeclarations: Yes
...
